<nb-card class="card-filter">
    <nb-card-header class="card-header">
        فلتر البحث
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <div class="feild-filter">
                    <h3>اسم الحقل</h3>
                    <select class="form-control input-sm">
                        <option value="0">الكل</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="feild-filter">
                    <h3>اسم الحقل</h3>
                    <select class="form-control input-sm">
                        <option value="0">الكل</option>
                    </select>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>