<nb-card class="card-filter">
    <nb-card-header class="p-1">
        فلتر
    </nb-card-header>
    <nb-card-body>

        <div class="row">
            <div class="col">
                <h3>المدينة</h3>
                <select class="form-control">
                    <option value="0">حدد واحدة</option>
                </select>
            </div>
            <div class="col">
                <h3>نوع النشاط</h3>
                <select class="form-control">
                    <option value="0">حدد واحدة</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>النظام</h3>
                <select class="form-control">
                    <option value="0">حدد واحدة</option>
                </select>
            </div>
            <div class="col">
                <h3>المنتج</h3>
                <select class="form-control">
                    <option value="0">حدد واحدة</option>
                </select>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="success">بحث</button>
        <button nbButton status="danger" class="ms-3">إغلاق</button>
    </nb-card-footer>
</nb-card>